<div>
    <form>
    <div class="input-group mb-3">
        <!-- 工號 -->
        <div class="input-group-prepend">
            <span class="input-group-text">工號</span>
        </div>
        <input class="form-control" id="employee_id" value="{{ employee_id }}" required="required">
    
        <!-- 姓名 -->
        <div class="input-group-prepend">
            <span class="input-group-text">姓名</span>
        </div>
        <input class="form-control" id="employee_name" value="{{ employee_name }}" required="required">
    </div>

    <div class="input-group mb-3">
        <!-- 帳號 -->
        <div class="input-group-prepend">
            <span class="input-group-text">帳號</span>
        </div>
        <input class="form-control" id="login_id" value="{{ login_id }}" required="required">

        <!-- 密碼 -->
        <div class="input-group-prepend">
            <span class="input-group-text">密碼</span>
        </div>
        <input class="form-control" id="mobile"  value="{{ mobile }}" required="required">
    </div>

    <div class="input-group mb-3">
        <!-- 部門 -->
        <div class="input-group-prepend">
            <span class="input-group-text">部門</span>
        </div>
        <input class="form-control" id="department_name" value="生二部" readonly>

        <!-- 代號 -->
        <div class="input-group-prepend">
            <span class="input-group-text">代號</span>
        </div>
        <input class="form-control" id="department_code" value="1BA" readonly>
    </div>

    <div class="input-group mb-3">
        <!-- 公司 -->
        <div class="input-group-prepend">
            <span class="input-group-text">公司</span>
        </div>
        <input class="form-control" id="company_id" value="OTSUKA" readonly>

        <!-- 到職 -->
        <div class="input-group-prepend">
            <span class="input-group-text">到職</span>
        </div>
        <input class="form-control" id="end_date" value="{{ end_date }}" required="required">
    </div>

    <!------------------------------------------------------------------------------------------------------ 
    -
    -    submit 
    -
    -------------------------------------------------------------------------------------------------------->
    <div class="text-center">
        <button class="btn btn-primary" id="submit_work_time_form" onclick="submit_add_check_account()">新增</button>
    </div>
    </form>
</div>

<div class="my-3 text-center"><span class=" text-danger">{{ error_msg }}</span><span class=" text-success">{{ success_msg }}</span></div>

<!-- date picker & rich editor-->
<script>
    $("#end_date").flatpickr();  
    //CKEDITOR.replace('content');
</script>


    
    
 

