
<!-- ERP 子單身查詢 -->
<div class="table-responsive my-2">
  <table class="table table-hover table-striped table-bordered my-2">
        <tr>
          <th colspan="15"><i class="bi bi-pencil-square"></i> ERP 子單身查詢</th>
        </tr>
        <tr class="text-center align-middle">
          <th>傳票日期</th>
          <th>成品品類</th>
          <th>品號</th>
          <th>品名</th>
          <th>傳票單號</th>
          <th>科目編號</th>
          <th>科目名稱</th>
          <th>部門代號</th>
          <th>Sub_Cost</th>
        </tr>
      {% for val in f_subform_query_1 %}
        <tr class="text-center align-middle">
          <td>{{ val[0] }}</td>
          <td>{{ val[1] }}</td>
          <td class="text-primary">{{ val[2] }}</td>
          <td>{{ val[3] }}</td>
          <td>{{ val[4] }}</td>
          <td>{{ val[5] }}</td>
          <td class="text-primary">{{ val[6] }}</td>
          <td>{{ val[7] }}</td>
          <td>{{ val[8] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>







