<!-- 產品名稱 
<div class="input-group my-1">
    <span class="input-group-text text-success" id="inputGroup-sizing-default">產品名稱</span>
    <select class="form-control" id="query_erp_product_name" onchange="select_erp_realtime_query2()">
        <option></option>
        {% for val in erp_realtime_p_name  %}
        <option>{{ val[1] }}</option>
        {% endfor %}
    </select>
</div>
-->

<!-- 部門人員 --> 
<div class="input-group my-1">
    <span class="input-group-text text-success" id="inputGroup-sizing-default">姓名</span>
    <select class="form-control" id="hr_360_manager_name">
      <option></option>              
      {% for val in h_3_m_dep_member_list %}
      <option>{{ val[0] }}</option>
      {% endfor %}
    </select>
</div>

<!-- 有效日期 -->
<!--
<div class="input-group my-1">
    <span class="input-group-text text-success">有效日期</span>
    <select class="form-control" id="query_erp_product_limit_date">
      <option></option>              
      {% for val in erp_realtime_p_limit_date %}
      <option>{{ val[3] }}</option>
      {% endfor %}
    </select>
</div>
-->
