<!------------------------------------------------------------------------------------------------------------------------ 
-
-    考評人員 
-
-------------------------------------------------------------------------------------------------------------------------->
<div class="my-3">
    <div class="row">
        
        <div class="col-md-6 my-3">
            <div class="card h-100">
                <div class="card-header"><i class="bi bi-pen"></i> 考評資訊</div>
                <div class="card-body">
                    <ul style="list-style-type:decimal;">
                        <li id="check_hr_360_date">受評日期 : {{ r_date }} </li>
                        <li id="check_hr_360_user">考評人員 : {{ user }}</li>
                        <li id="check_hr_360_lv">  受評等級 : {{ hr_360_person_lv }}</li>
                        <li id="check_hr_360_name">受評人員 : {{ hr_360_content_name }}</li>
                        
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 my-3">
            <div class="card h-100">
                <div class="card-header"><i class="bi bi-pen"></i> 受評項目</div>
                <div class="card-body">
                    <ul style="list-style-type:decimal;">
                        <li><a href="#check_1">對於客戶的服務(包含內部客戶或外部客戶)</a></li>
                        <li><a href="#check_2">溝通與待人接物能力</a></li>
                        <li><a href="#check_3">工作品質</a></li>
                        <li><a href="#check_4">判斷力和決策能力</a></li>
                        <li><a href="#check_5">其他能力</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    
</div>


<!------------------------------------------------------------------------------------------------------------------------ 
-
-    對於客戶的服務(包含內部客戶或外部客戶) 
-
-------------------------------------------------------------------------------------------------------------------------->
<div class="card my-3">
    <div class="card-header text-primary" id="check_1"><i class="bi bi-pen"></i> 對於客戶的服務(包含內部客戶或外部客戶)</div>
    <div class="card-body">
        
        <table class="table table-bordered table-hover table-striped table-responsive">
            <tr>
                <td class="align-middle">(1).建立有價值的客戶關係。</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options1_1" id="options1_1" value="1">
                        <label class="form-check-label" for="options1_1_1">
                            1分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options1_1" id="options1_1" value="2">
                        <label class="form-check-label" for="options1_1_2">
                            2分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options1_1" id="options1_1" value="3">
                        <label class="form-check-label" for="options1_1_3">
                            3分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options1_1" id="options1_1" value="4">
                        <label class="form-check-label" for="options1_1_4">
                            4分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options1_1" id="options1_1" value="5">
                        <label class="form-check-label" for="options1_1_5">
                            5分
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class=" align-middle">(2).努力傾聽和理解客戶的意見。</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options1_2" id="options1_2" value="1">
                        <label class="form-check-label" for="options1_2">
                            1分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options1_2" id="options1_2" value="2">
                        <label class="form-check-label" for="options1_2">
                            2分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options1_2" id="options1_2" value="3">
                        <label class="form-check-label" for="options1_2">
                            3分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options1_2" id="options1_2" value="4">
                        <label class="form-check-label" for="options1_2">
                            4分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options1_2" id="options1_2" value="5">
                        <label class="form-check-label" for="options1_2">
                            5分
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class=" align-middle">(3).與客戶合作時展現出熱誠的態度。</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options1_3" id="options1_3" value="1">
                        <label class="form-check-label" for="options1_3">
                            1分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options1_3" id="options1_3" value="2">
                        <label class="form-check-label" for="options1_3">
                            2分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options1_3" id="options1_3" value="3">
                        <label class="form-check-label" for="options1_3">
                            3分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options1_3" id="options1_3" value="4">
                        <label class="form-check-label" for="options1_3">
                            4分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options1_3" id="options1_3" value="5">
                        <label class="form-check-label" for="options1_3">
                            5分
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class=" align-middle">(4).優先考慮客戶的滿意度，並尋求提供解決方案。</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options1_4" id="options1_4" value="1">
                        <label class="form-check-label" for="options1_4">
                            1分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options1_4" id="options1_4" value="2">
                        <label class="form-check-label" for="options1_4">
                            2分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options1_4" id="options1_4" value="3">
                        <label class="form-check-label" for="options1_4">
                            3分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options1_4" id="options1_4" value="4">
                        <label class="form-check-label" for="options1_4">
                            4分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options1_4" id="options1_4" value="5">
                        <label class="form-check-label" for="options1_4">
                            5分
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class=" align-middle">(5).專注於解決問題，而不是追究責任。</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options1_5" id="options1_5" value="1">
                        <label class="form-check-label" for="options1_5">
                            1分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options1_5" id="options1_5" value="2">
                        <label class="form-check-label" for="options1_5">
                            2分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options1_5" id="options1_5" value="3">
                        <label class="form-check-label" for="options1_5">
                            3分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options1_5" id="options1_5" value="4">
                        <label class="form-check-label" for="options1_5">
                            4分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options1_5" id="options1_5" value="5">
                        <label class="form-check-label" for="options1_5">
                            5分
                        </label>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</div>

<!------------------------------------------------------------------------------------------------------------------------ 
-
-    溝通與待人接物能力 
-
-------------------------------------------------------------------------------------------------------------------------->
<div class="card my-3">
    <div class="card-header text-primary" id="check_2"><i class="bi bi-pen"></i> 溝通與待人接物能力</div>
    <div class="card-body">
        
        <table class="table table-bordered table-hover table-striped table-responsive">
            <tr>
                <td class=" align-middle">(6).如有需求，在開會時保持專注並積極參與。</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options2_1" id="options2_1" value="1">
                        <label class="form-check-label" for="options1_1_1">
                            1分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options2_1" id="options2_1" value="2">
                        <label class="form-check-label" for="options1_1_2">
                            2分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options2_1" id="options2_1" value="3">
                        <label class="form-check-label" for="options1_1_3">
                            3分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options2_1" id="options2_1" value="4">
                        <label class="form-check-label" for="options1_1_4">
                            4分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options2_1" id="options2_1" value="5">
                        <label class="form-check-label" for="options1_1_5">
                            5分
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class=" align-middle">(7).與同事和同儕建立有價值的關係。</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options2_2" id="options2_2" value="1">
                        <label class="form-check-label" for="options1_2">
                            1分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options2_2" id="options2_2" value="2">
                        <label class="form-check-label" for="options1_2">
                            2分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options2_2" id="options2_2" value="3">
                        <label class="form-check-label" for="options1_2">
                            3分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options2_2" id="options2_2" value="4">
                        <label class="form-check-label" for="options1_2">
                            4分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options2_2" id="options2_2" value="5">
                        <label class="form-check-label" for="options1_2">
                            5分
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class=" align-middle">(8).定期報告、傾聽和遵守公司指示。</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options2_3" id="options2_3" value="1">
                        <label class="form-check-label" for="options1_3">
                            1分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options2_3" id="options2_3" value="2">
                        <label class="form-check-label" for="options1_3">
                            2分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options2_3" id="options2_3" value="3">
                        <label class="form-check-label" for="options1_3">
                            3分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options2_3" id="options2_3" value="4">
                        <label class="form-check-label" for="options1_3">
                            4分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options2_3" id="options2_3" value="5">
                        <label class="form-check-label" for="options1_3">
                            5分
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class=" align-middle">(9).善用清晰的書面和口頭溝通模式。</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options2_4" id="options2_4" value="1">
                        <label class="form-check-label" for="options1_4">
                            1分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options2_4" id="options2_4" value="2">
                        <label class="form-check-label" for="options1_4">
                            2分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options2_4" id="options2_4" value="3">
                        <label class="form-check-label" for="options1_4">
                            3分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options2_4" id="options2_4" value="4">
                        <label class="form-check-label" for="options1_4">
                            4分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options2_4" id="options2_4" value="5">
                        <label class="form-check-label" for="options1_4">
                            5分
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class=" align-middle">(10).在工作上展現貫徹性、可靠性和可信度。</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options2_5" id="options2_5" value="1">
                        <label class="form-check-label" for="options1_5">
                            1分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options2_5" id="options2_5" value="2">
                        <label class="form-check-label" for="options1_5">
                            2分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options2_5" id="options2_5" value="3">
                        <label class="form-check-label" for="options1_5">
                            3分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options2_5" id="options2_5" value="4">
                        <label class="form-check-label" for="options1_5">
                            4分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options2_5" id="options2_5" value="5">
                        <label class="form-check-label" for="options1_5">
                            5分
                        </label>
                    </div>
                </td>
            </tr>
        </table>     

    </div>
</div>

<!------------------------------------------------------------------------------------------------------------------------ 
-
-    工作品質
-
-------------------------------------------------------------------------------------------------------------------------->
<div class="card my-3">
    <div class="card-header text-primary" id="check_3"><i class="bi bi-pen"></i> 工作品質</div>
    <div class="card-body">
    
        <table class="table table-bordered table-hover table-striped table-responsive">
            <tr>
                <td class=" align-middle">(11).始終如一地維持工作的全面性和準確性。</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options3_1" id="options3_1" value="1">
                        <label class="form-check-label" for="options3_1_1">
                            1分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options3_1" id="options3_1" value="2">
                        <label class="form-check-label" for="options3_1_2">
                            2分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options3_1" id="options3_1" value="3">
                        <label class="form-check-label" for="options3_1_3">
                            3分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options3_1" id="options3_1" value="4">
                        <label class="form-check-label" for="options3_1_4">
                            4分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options3_1" id="options3_1" value="5">
                        <label class="form-check-label" for="options3_1_5">
                            5分
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class=" align-middle">(12).能夠在壓力下工作並從過往的錯誤中吸取教訓。</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options3_2" id="options3_2" value="1">
                        <label class="form-check-label" for="options3_2">
                            1分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options3_2" id="options3_2" value="2">
                        <label class="form-check-label" for="options3_2">
                            2分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options3_2" id="options3_2" value="3">
                        <label class="form-check-label" for="options3_2">
                            3分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options3_2" id="options3_2" value="4">
                        <label class="form-check-label" for="options3_2">
                            4分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options3_2" id="options3_2" value="5">
                        <label class="form-check-label" for="options3_2">
                            5分
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class=" align-middle">(13).準確檢查流程和任務，及時處理問題。</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options3_3" id="options3_3" value="1">
                        <label class="form-check-label" for="options3_3">
                            1分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options3_3" id="options3_3" value="2">
                        <label class="form-check-label" for="options3_3">
                            2分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options3_3" id="options3_3" value="3">
                        <label class="form-check-label" for="options3_3">
                            3分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options3_3" id="options3_3" value="4">
                        <label class="form-check-label" for="options3_3">
                            4分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options3_3" id="options3_3" value="5">
                        <label class="form-check-label" for="options3_3">
                            5分
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class=" align-middle">(14).能夠快速工作並及時提交進度，交付成果。</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options3_4" id="options3_4" value="1">
                        <label class="form-check-label" for="options3_4">
                            1分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options3_4" id="options3_4" value="2">
                        <label class="form-check-label" for="options3_4">
                            2分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options3_4" id="options3_4" value="3">
                        <label class="form-check-label" for="options3_4">
                            3分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options3_4" id="options3_4" value="4">
                        <label class="form-check-label" for="options3_4">
                            4分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options3_4" id="options3_4" value="5">
                        <label class="form-check-label" for="options3_4">
                            5分
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class=" align-middle">(15).管理工作細節，在工作中有條不紊、注重細節。</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options3_5" id="options3_5" value="1">
                        <label class="form-check-label" for="options3_5">
                            1分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options3_5" id="options3_5" value="2">
                        <label class="form-check-label" for="options3_5">
                            2分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options3_5" id="options3_5" value="3">
                        <label class="form-check-label" for="options3_5">
                            3分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options3_5" id="options3_5" value="4">
                        <label class="form-check-label" for="options3_5">
                            4分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options3_5" id="options3_5" value="5">
                        <label class="form-check-label" for="options3_5">
                            5分
                        </label>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</div>

<!------------------------------------------------------------------------------------------------------------------------ 
-
-    判斷力和決策能力 
-
-------------------------------------------------------------------------------------------------------------------------->
<div class="card my-3">
    <div class="card-header text-primary" id="check_4"><i class="bi bi-pen"></i> 判斷力和決策能力</div>
    <div class="card-body">
        
        <table class="table table-bordered table-hover table-striped table-responsive">
            <tr>
                <td class=" align-middle">(16).在做出決定之前進行邏輯和實踐性的思考。</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options4_1" id="options4_1" value="1">
                        <label class="form-check-label" for="options4_1_1">
                            1分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options4_1" id="options4_1" value="2">
                        <label class="form-check-label" for="options4_1_2">
                            2分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options4_1" id="options4_1" value="3">
                        <label class="form-check-label" for="options4_1_3">
                            3分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options4_1" id="options4_1" value="4">
                        <label class="form-check-label" for="options4_1_4">
                            4分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options4_1" id="options4_1" value="5">
                        <label class="form-check-label" for="options4_1_5">
                            5分
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class=" align-middle">(17).良好獨立工作，不需要額外的叮嚀囑咐。</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options4_2" id="options4_2" value="1">
                        <label class="form-check-label" for="options4_2">
                            1分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options4_2" id="options4_2" value="2">
                        <label class="form-check-label" for="options4_2">
                            2分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options4_2" id="options4_2" value="3">
                        <label class="form-check-label" for="options4_2">
                            3分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options4_2" id="options4_2" value="4">
                        <label class="form-check-label" for="options4_2">
                            4分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options4_2" id="options4_2" value="5">
                        <label class="form-check-label" for="options4_2">
                            5分
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class=" align-middle">(18).具備處理機密(敏感)資訊的能力。</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options4_3" id="options4_3" value="1">
                        <label class="form-check-label" for="options4_3">
                            1分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options4_3" id="options4_3" value="2">
                        <label class="form-check-label" for="options4_3">
                            2分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options4_3" id="options4_3" value="3">
                        <label class="form-check-label" for="options4_3">
                            3分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options4_3" id="options4_3" value="4">
                        <label class="form-check-label" for="options4_3">
                            4分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options4_3" id="options4_3" value="5">
                        <label class="form-check-label" for="options4_3">
                            5分
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class=" align-middle">(19).運用獨立思考、邏輯思考和創新改進。</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options4_4" id="options4_4" value="1">
                        <label class="form-check-label" for="options4_4">
                            1分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options4_4" id="options4_4" value="2">
                        <label class="form-check-label" for="options4_4">
                            2分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options4_4" id="options4_4" value="3">
                        <label class="form-check-label" for="options4_4">
                            3分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options4_4" id="options4_4" value="4">
                        <label class="form-check-label" for="options4_4">
                            4分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options4_4" id="options4_4" value="5">
                        <label class="form-check-label" for="options4_4">
                            5分
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class=" align-middle">(20).在壓力下做出果斷明確的決策。</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options4_5" id="options4_5" value="1">
                        <label class="form-check-label" for="options4_5">
                            1分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options4_5" id="options4_5" value="2">
                        <label class="form-check-label" for="options4_5">
                            2分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options4_5" id="options4_5" value="3">
                        <label class="form-check-label" for="options4_5">
                            3分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options4_5" id="options4_5" value="4">
                        <label class="form-check-label" for="options4_5">
                            4分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options4_5" id="options4_5" value="5">
                        <label class="form-check-label" for="options4_5">
                            5分
                        </label>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</div>

<!------------------------------------------------------------------------------------------------------------------------ 
-
-    其他能力 
-
-------------------------------------------------------------------------------------------------------------------------->
<div class="card my-3">
    <div class="card-header text-primary" id="check_5"><i class="bi bi-pen"></i> 其他能力</div>
    <div class="card-body">
        
        <table class="table table-bordered table-hover table-striped table-responsive">
            <tr>
                <td class=" align-middle">(21).表現出願意為團隊做出重大貢獻的意願。</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_1" id="options5_1" value="1">
                        <label class="form-check-label" for="options5_1_1">
                            1分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_1" id="options5_1" value="2">
                        <label class="form-check-label" for="options5_1_2">
                            2分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_1" id="options5_1" value="3">
                        <label class="form-check-label" for="options5_1_3">
                            3分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_1" id="options5_1" value="4">
                        <label class="form-check-label" for="options5_1_4">
                            4分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_1" id="options5_1" value="5">
                        <label class="form-check-label" for="options5_1_5">
                            5分
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class=" align-middle">(22).具備積極、主動和自我驅動力。</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_2" id="options5_2" value="1">
                        <label class="form-check-label" for="options5_2">
                            1分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_2" id="options5_2" value="2">
                        <label class="form-check-label" for="options5_2">
                            2分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_2" id="options5_2" value="3">
                        <label class="form-check-label" for="options5_2">
                            3分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_2" id="options5_2" value="4">
                        <label class="form-check-label" for="options5_2">
                            4分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_2" id="options5_2" value="5">
                        <label class="form-check-label" for="options5_2">
                            5分
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class=" align-middle">(23).鼓勵和支持參與公司活動和事件。</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_3" id="options5_3" value="1">
                        <label class="form-check-label" for="options5_3">
                            1分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_3" id="options5_3" value="2">
                        <label class="form-check-label" for="options5_3">
                            2分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_3" id="options5_3" value="3">
                        <label class="form-check-label" for="options5_3">
                            3分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_3" id="options5_3" value="4">
                        <label class="form-check-label" for="options5_3">
                            4分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_3" id="options5_3" value="5">
                        <label class="form-check-label" for="options5_3">
                            5分
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class=" align-middle">(24).鼓勵和擁抱變化，在變化時期保持積極心態。</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_4" id="options5_4" value="1">
                        <label class="form-check-label" for="options5_4">
                            1分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_4" id="options5_4" value="2">
                        <label class="form-check-label" for="options5_4">
                            2分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_4" id="options5_4" value="3">
                        <label class="form-check-label" for="options5_4">
                            3分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_4" id="options5_4" value="4">
                        <label class="form-check-label" for="options5_4">
                            4分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_4" id="options5_4" value="5">
                        <label class="form-check-label" for="options5_4">
                            5分
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class=" align-middle">(25).尊重和公平對待每一個人。</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_5" id="options5_5" value="1">
                        <label class="form-check-label" for="options5_5">
                            1分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_5" id="options5_5" value="2">
                        <label class="form-check-label" for="options5_5">
                            2分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_5" id="options5_5" value="3">
                        <label class="form-check-label" for="options5_5">
                            3分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_5" id="options5_5" value="4">
                        <label class="form-check-label" for="options5_5">
                            4分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_5" id="options5_5" value="5">
                        <label class="form-check-label" for="options5_5">
                            5分
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td class=" align-middle">(26).恪守法規遵循與合規性。</td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_6" id="options5_6" value="1">
                        <label class="form-check-label" for="options5_6">
                            1分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_6" id="options5_6" value="2">
                        <label class="form-check-label" for="options5_6">
                            2分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_6" id="options5_6" value="3">
                        <label class="form-check-label" for="options5_6">
                            3分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_6" id="options5_6" value="4">
                        <label class="form-check-label" for="options5_6">
                            4分
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="options5_6" id="options5_6" value="5">
                        <label class="form-check-label" for="options5_6">
                            5分
                        </label>
                    </div>
                </td>
            </tr>
            
        </table>

    </div>
</div>


    <!------------------------------------------------------------------------------------------------------------------------ 
    -
    -    submit
    -
    -------------------------------------------------------------------------------------------------------------------------->
    <div class="text-center align-middle my-3">
        <button class="btn btn-primary" onclick="submit_hr_360_member()"><i class="bi bi-send"></i> 送出</button>
    </div>
</div>



