<div class="container-fluid">
    
    <div class="text-center text-primary">{{ mrd_8_query_announcement_search_res_title }}</div>
    <div class="row my-2">
        <div class="col-md-12 my-2">
            <input class="form-control my-2" id="mrd_8_add_auto_email" placeholder="新增 Email" required>
            <button class="btn btn-primary" id="mrd_8_add_auto_email_submit" onclick="mrd_8_add_auto_email_submit()"><i class="bi bi-send"></i> 新增</button>
            <button class="btn btn-danger" id="mrd_8_del_auto_email_submit" onclick="mrd_8_del_auto_email_submit()"><i class="bi bi-send"></i> 刪除</button>
        </div>
    </div>

    <div id="show_msg3"></div>
    
</div>



