<!-- MRD - 08.政府公開資料庫比對查詢 / 衛生福利部審核通過之基因改造食品原料之查詢 -->
<div class="text-center text-primary">{{ mrd_8_food_query_genetic_modification_all_search_res_title }}</div>
{{ mrd_8_food_query_genetic_modification_all_search_res | safe }}

<hr>

<!-- MRD - 08.政府公開資料庫比對查詢 / 國產維生素類錠狀膠囊狀食品查驗登記證資料查詢 -->
<div class="text-center text-primary">{{ mrd_8_food_query_domestic_vitamins_all_search_res_title }}</div>
{{ mrd_8_food_query_domestic_vitamins_all_search_res | safe }}

<hr>

<!-- MRD - 08.政府公開資料庫比對查詢 / 輸入膠囊錠狀食品核備查詢 -->
<div class="text-center text-primary">{{ mrd_8_food_query_enter_capsule_all_search_res_title }}</div>
{{ mrd_8_food_query_enter_capsule_all_search_res | safe }}

<hr>

<!-- MRD - 08.政府公開資料庫比對查詢 / 特定疾病配方食品 -->
<div class="text-center text-primary">{{ mrd_8_food_query_disease_recipe_all_search_res_title }}</div>
{{ mrd_8_food_query_disease_recipe_all_search_res | safe }}

<hr>

<!-- MRD - 08.政府公開資料庫比對查詢 / 衛生福利部審核通過之健康食品資料查詢 -->
<div class="text-center text-primary">{{ mrd_8_food_query_pass_all_search_res_title }}</div>
{{ mrd_8_food_query_pass_all_search_res | safe }}

<hr>

<!-- MRD - 08.政府公開資料庫比對查詢 / 食品原料整合查詢平臺 -->
<div class="text-center text-primary">{{ mrd_8_food_query_platform_all_search_res_title }}</div>
{{ mrd_8_food_query_platform_all_search_res | safe }}

<hr>

<!-- MRD - 08.政府公開資料庫比對查詢 / 食品添加物使用範圍及限量暨規格標準 -->
<div class="text-center text-primary">{{ mrd_8_food_all_search_res_title }}</div>
{{ mrd_8_food_all_search_res | safe }}

<hr>

<!-- MRD - 08.政府公開資料庫比對查詢 / 食品添加物許可證資料查詢 -->
<div class="text-center text-primary">{{ mrd_8_license_all_search_res_title }}</div>
{{ mrd_8_license_all_search_res | safe }}

<hr>

<!-- MRD - 08.政府公開資料庫比對查詢 / 嬰兒與較大嬰兒配方食品許可資料查詢 -->
<div class="text-center text-primary">{{ mrd_8_food_query_infant_formula_all_search_res_title }}</div>
{{ mrd_8_food_query_infant_formula_all_search_res | safe }}







