{% extends "bootstrap/base.html" %}

{% block content %}
    <!---------------------------------------------------------------------------------------------------- 
    -
    - main content
    -
    ----------------------------------------------------------------------------------------------------->
    <div class="container-fluid text-primary m-auto">
        
        <div class="row my-4">
            <div class="col-md-12">
                
            </div>
        </div>
        
        <div class="row my-5">
            <!---------------------------------------------------------------------------------------------------- 
             -
             - main content
             -   
             ----------------------------------------------------------------------------------------------------->
            
            <!------------------- 
            -
            - BPM 資訊需求單查詢
            -
            --------------------->    
            <div id="main_content" class="col-md-3">
                <div class="card my-2">
                    <div class="card-header">
                        <i class="bi bi-chat-left-text"></i> {{ operation_record_title }}
                    </div>
                    <div class="card-body">
                        <!-- Nav tabs -->
                    <ul class="nav nav-tabs my-2">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#home"><i class="bi bi-chat-left-text"></i> 統計</a>
                        </li>
                        <!--
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#menu1"><i class="bi bi-pencil-square"></i> 新增</a>
                        </li>
                        -->
                    </ul>
                    
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- 統計 -->
                        <div class="tab-pane container active" id="home">
                          <!-- 部門 -->
                          <ul class="list-group my-2">
                            <li class="list-group-item list-group-item-action active">{{ dep_id }} (已結案)</li>
                            {% for val in bpm_statistics_list %}
                            <li class="list-group-item list-group-item-action" id="{{ dep_id }}/{{ val[0] }}" onclick="bpm_information_detail(id)"><i class="bi bi-arrow-right-short"></i> {{ val[0] }} ({{ val[1] }})</li>
                            {% endfor %}
                          </ul>
                          <!-- 本帳號 -->
                          <ul class="list-group my-2">
                            <li class="list-group-item list-group-item-action active">{{ user }} (已結案)</li>
                            {% for val in bpm_statistics_by_account_list %}
                            <li class="list-group-item list-group-item-action" id="{{ dep_id }}/{{ val[0] }}/{{ user }}" onclick="bpm_information_account_detail(id)" ><i class="bi bi-arrow-right-short"></i> {{ val[0] }} ({{ val[1] }})</li>
                            {% endfor %}
                          </ul>
                        </div>

                        <!-- 新增 -->
                        <div class="tab-pane container fade" id="menu1">
                                <!-- 日期 -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">建立日期</span>
                                    </div>
                                    <input class="form-control" id="o_c_date"  placeholder="" data-toggle="tooltip" data-placement="bottom" title="建立日期">
                                </div>
                                <!-- 合約單位 -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">合約單位</span>
                                    </div>
                                    <input class="form-control" id="o_c_department"  placeholder="" data-toggle="tooltip" data-placement="bottom" title="合約單位" value="{{dep_id}}" readonly>
                                </div>
                                <!-- 合約種類 -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">合約種類</span>
                                    </div>
                                    <input class="form-control" id="o_c_kind"  placeholder=""   data-toggle="tooltip" data-placement="bottom" title="合約種類" required>
                                </div>
                                <!-- 合約名稱 -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">合約名稱</span>
                                    </div>
                                    <input class="form-control" id="o_c_title"  placeholder=""   data-toggle="tooltip" data-placement="bottom" title="合約名稱" required>
                                </div>
                                <!-- 合約價錢 -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">合約金額</span>
                                    </div>
                                    <input class="form-control" id="o_c_cost"  placeholder=""   data-toggle="tooltip" data-placement="bottom" title="合約金額" required>
                                </div>
                                <!-- 合約時間 -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">合約時間</span>
                                    </div>
                                    <input class="form-control" id="o_c_time"  placeholder=""   data-toggle="tooltip" data-placement="bottom" title="合約時間" required>
                                </div>
                                <!-- 合約公司 -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">合約公司</span>
                                    </div>
                                    <input class="form-control" id="o_c_company"  placeholder=""   data-toggle="tooltip" data-placement="bottom" title="合約公司" required>
                                </div>
                                <!-- 合約窗口 -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">合約窗口</span>
                                    </div>
                                    <input class="form-control" id="o_c_name"  placeholder=""   data-toggle="tooltip" data-placement="bottom" title="合約窗口" required>
                                </div>
                                <!-- 合約電話 -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">窗口電話</span>
                                    </div>
                                    <input class="form-control" id="o_c_telephone"  placeholder=""   data-toggle="tooltip" data-placement="bottom" title="合約電話" required>
                                </div>
                                <!-- 合約手機 -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">窗口手機</span>
                                    </div>
                                    <input class="form-control" id="o_c_phone"  placeholder=""   data-toggle="tooltip" data-placement="bottom" title="合約手機" required>
                                </div>
                                <!-- 合約備註 -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">合約備註</span>
                                    </div>
                                    <textarea class="form-control" rows="10" id="o_c_comment"  placeholder=""   data-toggle="tooltip" data-placement="bottom" title="合約備註" required></textarea>
                                </div>
                                
                                <!-- submit -->
                                <div class="text-center my-2">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-primary" id="o_c_submit" name="o_c_submit" onclick="submit_otsuka_contract()">
                                            <i class="bi bi-send"></i> 確定新增
                                        </button>
                                    </div>
                                </div>
                                
                                <!---------------------------------------------------------------------------------------------------- 
                                -
                                - success message 
                                -
                                ----------------------------------------------------------------------------------------------------->
                                <!-- submit_otsuka_cobtract -->
                                <div aria-live="polite" aria-atomic="true"  class="fixed-element">
                                    <div id="submit_otsuka_contract" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="5000">
                                      <div class="toast-header">
                                        <strong class="me-auto text-success"><i class="bi bi-x-circle-fill"></i> 訊息</strong>
                                      </div>
                                      <div class="toast-body">
                                        新增合約完成 !
                                      </div>
                                    </div>
                                </div>
                                <!---------------------------------------------------------------------------------------------------- 
                                -
                                - error message 
                                -
                                ----------------------------------------------------------------------------------------------------->
                                <!-- o_c_date -->
                                <div aria-live="polite" aria-atomic="true"  class="fixed-element">
                                    <div id="check_o_c_date" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="5000">
                                      <div class="toast-header">
                                        <strong class="me-auto text-danger"><i class="bi bi-x-circle-fill"></i> 錯誤訊息</strong>
                                      </div>
                                      <div class="toast-body">
                                        新增合約時間不能空白 !
                                      </div>
                                    </div>
                                </div>
                                <!-- o_c_kind -->
                                <div aria-live="polite" aria-atomic="true"  class="fixed-element">
                                    <div id="check_o_c_kind" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="5000">
                                      <div class="toast-header">
                                        <strong class="me-auto text-danger"><i class="bi bi-x-circle-fill"></i> 錯誤訊息</strong>
                                      </div>
                                      <div class="toast-body">
                                        新增合約種類不能空白 !
                                      </div>
                                    </div>
                                </div>
                                <!-- o_c_title -->
                                <div aria-live="polite" aria-atomic="true"  class="fixed-element">
                                    <div id="check_o_c_title" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="5000">
                                      <div class="toast-header">
                                        <strong class="me-auto text-danger"><i class="bi bi-x-circle-fill"></i> 錯誤訊息</strong>
                                      </div>
                                      <div class="toast-body">
                                        新增合約名稱不能空白 !
                                      </div>
                                    </div>
                                </div>
                                <!-- o_c_cost -->
                                <div aria-live="polite" aria-atomic="true"  class="fixed-element">
                                    <div id="check_o_c_cost" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="5000">
                                      <div class="toast-header">
                                        <strong class="me-auto text-danger"><i class="bi bi-x-circle-fill"></i> 錯誤訊息</strong>
                                      </div>
                                      <div class="toast-body">
                                        新增合約金額不能空白 !
                                      </div>
                                    </div>
                                </div>
                                <!-- o_c_time -->
                                <div aria-live="polite" aria-atomic="true"  class="fixed-element">
                                    <div id="check_o_c_time" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="5000">
                                      <div class="toast-header">
                                        <strong class="me-auto text-danger"><i class="bi bi-x-circle-fill"></i> 錯誤訊息</strong>
                                      </div>
                                      <div class="toast-body">
                                        新增合約時間不能空白 !
                                      </div>
                                    </div>
                                </div>
                                <!-- o_c_company -->
                                <div aria-live="polite" aria-atomic="true"  class="fixed-element">
                                    <div id="check_o_c_company" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="5000">
                                      <div class="toast-header">
                                        <strong class="me-auto text-danger"><i class="bi bi-x-circle-fill"></i> 錯誤訊息</strong>
                                      </div>
                                      <div class="toast-body">
                                        新增合約公司不能空白 !
                                      </div>
                                    </div>
                                </div>
                                <!-- o_c_name -->
                                <div aria-live="polite" aria-atomic="true"  class="fixed-element">
                                    <div id="check_o_c_company" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="5000">
                                      <div class="toast-header">
                                        <strong class="me-auto text-danger"><i class="bi bi-x-circle-fill"></i> 錯誤訊息</strong>
                                      </div>
                                      <div class="toast-body">
                                        新增合約窗口不能空白 !
                                      </div>
                                    </div>
                                </div>
                                <!-- o_c_telephone -->
                                <div aria-live="polite" aria-atomic="true"  class="fixed-element">
                                    <div id="check_o_c_company" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="5000">
                                      <div class="toast-header">
                                        <strong class="me-auto text-danger"><i class="bi bi-x-circle-fill"></i> 錯誤訊息</strong>
                                      </div>
                                      <div class="toast-body">
                                        新增合約窗口電話不能空白 !
                                      </div>
                                    </div>
                                </div>
                                <!-- o_c_phone -->
                                <div aria-live="polite" aria-atomic="true"  class="fixed-element">
                                    <div id="check_o_c_company" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="5000">
                                      <div class="toast-header">
                                        <strong class="me-auto text-danger"><i class="bi bi-x-circle-fill"></i> 錯誤訊息</strong>
                                      </div>
                                      <div class="toast-body">
                                        新增合約窗口手機不能空白 !
                                      </div>
                                    </div>
                                </div>
                                <!-- o_c_comment -->
                                <div aria-live="polite" aria-atomic="true"  class="fixed-element">
                                    <div id="check_o_c_comment" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="5000">
                                      <div class="toast-header">
                                        <strong class="me-auto text-danger"><i class="bi bi-x-circle-fill"></i> 錯誤訊息</strong>
                                      </div>
                                      <div class="toast-body">
                                        新增合約備註不能空白 !
                                      </div>
                                    </div>
                                </div>
                                
                        </div>
                    </div>    
                    </div>
                </div>
                
            </div>

            <!------------------- 
            -
            - BPM 資訊需求單清單
            -
            --------------------->    
            <div class="col-md-9 my-2">
                <div class="card">
                    <div class="card-header"><i class="bi bi-chat-left-text"></i> BPM 資訊需求單</div>
                    
                    <div class="card-body" id="query_contract">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs my-2">
                            <li class="nav-item">
                              <a class="nav-link active" data-bs-toggle="tab" href="#bpm_information_form_list_account"><i class="bi bi-card-list"></i> {{ user }}</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" data-bs-toggle="tab" href="#bpm_information_form_list_account_done_chart"><i class="bi bi-bar-chart-line"></i> {{ user }} 已結案統計圖</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#bpm_information_form_list_done"><i class="bi bi-card-list"></i> {{ dep_id }} 已結案</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" data-bs-toggle="tab" href="#bpm_information_form_list_running"><i class="bi bi-card-list"></i> {{ dep_id }} 未結案</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" data-bs-toggle="tab" href="#bpm_information_form_list_done_chart"><i class="bi bi-bar-chart-line"></i> {{ dep_id }} 已結案統計圖</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" data-bs-toggle="tab" href="#bpm_information_form_each_dep_list_done_chart"><i class="bi bi-bar-chart-line"></i>  各部門已結案統計圖</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">

                            <!-- 本帳號 -->
                            <div class="tab-pane container active" id="bpm_information_form_list_account">
                              {% for val in bpm_information_form_list_account %}

                                <div class="card my-5">
                                  <div class="card-header"> 
                                    <div class="input-group ">
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">日期</span>
                                      <input type="text" class="form-control" value="{{ val[3] }}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">部門</span>
                                      <input type="text" class="form-control" value="{{ val[2] }}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">申請</span>
                                      <input type="text" class="form-control" value="{{ val[1] }}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">預算</span>
                                      <input type="text" class="form-control" value="{{ val[11] }}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">元</span>
                                    </div>
                                    <div class="input-group">
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">種類</span>
                                      <input type="text" class="form-control" value="{{ val[4] }}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">分類</span>
                                      <input type="text" class="form-control" value="{{ val[7] }}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">狀態</span>
                                      {% if val[5] == "true" %}
                                        <input type="text" class="form-control text-primary" value="已結案" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                                      {% else %}
                                        <input type="text" class="form-control text-danger" value="未結案" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                                      {% endif %}
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">費用</span>
                                      <input type="text" class="form-control" value="{{ val[10] }}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">元</span>
                                    </div>
                                  </div>
                                  <div class="card-body">
                                    {{ val[8] }}
                                  </div>
                                </div>    
                              {% endfor %}
                            </div>

                            <!-- 本帳號統計圖 -->
                            <div class="tab-pane container" id="bpm_information_form_list_account_done_chart">
                              
                              <div class="row">
                                
                                <div class="col-md-12 my-2">
                                  <div class="card">
                                    <div class="card-header"><i class="bi bi-card-list"></i> BPM 資訊需求單 - {{ user }} 硬體已結案費用</div>
                                    <div class="card-body text-center">
                                      <!-- 硬體 清單-->
                                      <table class="table table-bordered table-striped table-hover">
                                        <tr class="text-center">
                                          <th>日期</th>
                                          <th>種類</th>
                                          <th>費用</th>
                                        </tr>
                                        {% for val in bpm_information_by_dep_kind_by_account_list1 %}
                                          <tr>
                                            <td class="text-center">{{ val[0] }}</td>
                                            <td class="text-center">{{ val[2] }}</td>
                                            <td class="text-end">{{ val[1] }} 元</td>
                                            
                                          </tr>
                                        {% endfor %}
                                          <tr>
                                            <td colspan="3" class="text-end">總計 {{ bpm_information_by_dep_kind_by_account_sum1 }} 元</td>
                                          </tr>
                                      </table>
                                      <!-- 硬體 清單統計圖-->
                                      <img src="data:image/png;base64,{{ bpm_information_by_dep_kind_by_account_img1 }}" class="img-fluid" alt="{{ bpm_information_chart }}">
                                    </div>
                                  </div>
                                </div>
                                
                                <div class="col-md-12 my-2">
                                  <div class="card">
                                    <div class="card-header"><i class="bi bi-card-list"></i> BPM 資訊需求單 - {{ user }} 軟體已結案費用</div>
                                    <div class="card-body text-center">
                                      <!-- 軟體 清單-->
                                      <table class="table table-bordered table-striped table-hover">
                                        <tr class="text-center">
                                          <th>日期</th>
                                          <th>種類</th>
                                          <th>費用</th>
                                        </tr>
                                        {% for val in bpm_information_by_dep_kind_by_account_list2 %}
                                          <tr>
                                            <td class="text-center">{{ val[0] }}</td>
                                            <td class="text-center">{{ val[2] }}</td>
                                            <td class="text-end">{{ val[1] }} 元</td>
                                          </tr>
                                        {% endfor %}
                                        <tr>
                                          <td colspan="3" class="text-end">總計 {{ bpm_information_by_dep_kind_by_account_sum2 }} 元</td>
                                        </tr>
                                      </table>
                                      <!-- 軟體 統計清單-->
                                      <img src="data:image/png;base64,{{ bpm_information_by_dep_kind_by_account_img2 }}" class="img-fluid" alt="{{ bpm_information_chart }}">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!-- 已結案 -->
                            <div class="tab-pane container" id="bpm_information_form_list_done">
                              {% for val in bpm_information_form_list_done %}

                                <div class="card my-5">
                                  <div class="card-header"> 
                                    <div class="input-group ">
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">日期</span>
                                      <input type="text" class="form-control" value="{{ val[3] }}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">部門</span>
                                      <input type="text" class="form-control" value="{{ val[2] }}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">申請</span>
                                      <input type="text" class="form-control" value="{{ val[1] }}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">預算</span>
                                      <input type="text" class="form-control" value="{{ val[11] }}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">元</span>
                                    </div>
                                    <div class="input-group">
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">種類</span>
                                      <input type="text" class="form-control" value="{{ val[4] }}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">分類</span>
                                      <input type="text" class="form-control" value="{{ val[7] }}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">狀態</span>
                                      {% if val[5] == "true" %}
                                        <input type="text" class="form-control text-primary" value="已結案" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                                      {% else %}
                                        <input type="text" class="form-control text-danger" value="未結案" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                                      {% endif %}
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">費用</span>
                                      <input type="text" class="form-control" value="{{ val[10] }}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">元</span>
                                    </div>
                                  </div>
                                  <div class="card-body">
                                    {{ val[8] }}
                                  </div>
                                </div>    
                              {% endfor %}
                            </div>
                            
                            <!-- 未結案 -->
                            <div class="tab-pane container" id="bpm_information_form_list_running">
                              {% for val in bpm_information_form_list_running %}

                                <div class="card my-5">
                                  <div class="card-header"> 
                                    <div class="input-group ">
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">日期</span>
                                      <input type="text" class="form-control" value="{{ val[3] }}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">部門</span>
                                      <input type="text" class="form-control" value="{{ val[2] }}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">申請</span>
                                      <input type="text" class="form-control" value="{{ val[1] }}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">預算</span>
                                      <input type="text" class="form-control" value="{{ val[11] }}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">元</span>
                                    </div>
                                    <div class="input-group">
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">種類</span>
                                      <input type="text" class="form-control" value="{{ val[4] }}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">分類</span>
                                      <input type="text" class="form-control" value="{{ val[7] }}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">狀態</span>
                                      {% if val[5] == "true" %}
                                        <input type="text" class="form-control text-primary" value="已結案" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                                      {% else %}
                                        <input type="text" class="form-control text-danger" value="未結案" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                                      {% endif %}
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">費用</span>
                                      <input type="text" class="form-control" value="{{ val[10] }}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" readonly>
                                      <span class="input-group-text text-success" id="inputGroup-sizing-default">元</span>
                                    </div>
                                  </div>
                                  <div class="card-body">
                                    {{ val[8] }}
                                  </div>
                                </div>    
                              {% endfor %}
                            </div>

                            <!-- 統計圖 -->
                            <div class="tab-pane container" id="bpm_information_form_list_done_chart">
                              
                              <div class="row">
                                
                                <div class="col-md-12 my-2">
                                  <div class="card">
                                    <div class="card-header"><i class="bi bi-card-list"></i> BPM 資訊需求單 - 硬體已結案費用</div>
                                    <div class="card-body text-center">
                                      <!-- 硬體 清單-->
                                      <table class="table table-bordered table-striped table-hover">
                                        <tr class="text-center">
                                          <th>日期</th>
                                          <th>種類</th>
                                          <th>費用</th>
                                        </tr>
                                        {% for val in bpm_information_by_dep_kind_list1 %}
                                          <tr>
                                            <td class="text-center">{{ val[0] }}</td>
                                            <td class="text-center">{{ val[2] }}</td>
                                            <td class="text-end">{{ val[1] }} 元</td>
                                          </tr>
                                        {% endfor %}
                                          <tr>
                                            <td colspan="3" class="text-end">總計 {{ bpm_information_by_dep_kind_sum1 }} 元</td>
                                          </tr>
                                      </table>
                                      <!-- 硬體 清單統計圖-->
                                      <img src="data:image/png;base64,{{ bpm_information_by_dep_kind_img1 }}" class="img-fluid" alt="{{ bpm_information_chart }}">
                                    </div>
                                  </div>
                                </div>
                                
                                <div class="col-md-12 my-2">
                                  <div class="card">
                                    <div class="card-header"><i class="bi bi-card-list"></i> BPM 資訊需求單 - 軟體已結案費用</div>
                                    <div class="card-body text-center">
                                      <!-- 軟體 清單-->
                                      <table class="table table-bordered table-striped table-hover">
                                        <tr class="text-center">
                                          <th>日期</th>
                                          <th>種類</th>
                                          <th>費用</th>
                                        </tr>
                                        {% for val in bpm_information_by_dep_kind_list2 %}
                                          <tr>
                                            <td class="text-center">{{ val[0] }}</td>
                                            <td class="text-center">{{ val[2] }}</td>
                                            <td class="text-end">{{ val[1] }} 元</td>
                                          </tr>
                                        {% endfor %}
                                        <tr>
                                          <td colspan="3" class="text-end">總計 {{ bpm_information_by_dep_kind_sum2 }} 元</td>
                                        </tr>
                                      </table>
                                      <!-- 軟體 統計清單-->
                                      <img src="data:image/png;base64,{{ bpm_information_by_dep_kind_img2 }}" class="img-fluid" alt="{{ bpm_information_chart }}">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!-- 各部門統計圖 -->
                            <div class="tab-pane container" id="bpm_information_form_each_dep_list_done_chart">
                              
                              <div class="row">
                                
                                <div class="col-md-12 my-2">
                                  <div class="card">
                                    <div class="card-header"><i class="bi bi-card-list"></i> BPM 資訊需求單 - 各部門已結案統計圖</div>
                                    <div class="card-body text-center">
                                      
                                      <!-- 各部門已結案統計圖-->
                                      <!--
                                      <table class="table table-bordered table-striped table-hover">
                                        <tr class="text-center">
                                          <th>部門</th>
                                          <th>數量</th>
                                        </tr>
                                        {% for val in bpm_information_by_dep_kind_list1 %}
                                          <tr>
                                            <td class="text-center">{{ val[0] }}</td>
                                            <td class="text-center">{{ val[1] }}</td>
                                          </tr>
                                        {% endfor %}
                                      </table>
                                      -->
                                      <!-- 各部門已結案統計圖-->
                                      <img src="data:image/png;base64,{{ show_bpm_information_each_dep_img }}" class="img-fluid" alt="BPM 資訊需求單 - 各部門已結案統計圖">
                                    </div>
                                  </div>
                                </div>
                                
                                
                              </div>
                            </div>


                        </div>
                    </div>
             </div>
        </div>

    </div>

    <!-- go top -->
    <div id="go_top" class="goto_top"><i class="bi bi-arrow-up"></i></div>
{% endblock content %}

{% block script %}    
    <!-- date picker & rich editor-->
    <script>
        $("#o_c_date").flatpickr();    
        //CKEDITOR.replace('content');
        </script>
{% endblock script %}
    
