{% extends "bootstrap/base.html" %}

{% block content %}
    <!---------------------------------------------------------------------------------------------------- 
    -
    - main content
    -
    ----------------------------------------------------------------------------------------------------->
    <div class="container-fluid text-primary m-auto">
        
        <div class="row my-4">
            <div class="col-md-12">
                
            </div>
        </div>
        
        <div class="row my-5">
            <!---------------------------------------------------------------------------------------------------- 
             -
             - main content
             -   
             ----------------------------------------------------------------------------------------------------->
            
            <!--------------------------------- 
            -
            - 電子看板
            -
            ----------------------------------->    
            <div id="main_content" class="col-md-3">
                <div class="card my-2">
                    <div class="card-header">
                        <i class="bi bi-chat-left-text"></i> {{ operation_record_title }}
                    </div>
                    <div class="card-body">
                    <!-----------
                    -
                    - Nav tabs 
                    -
                    ------------->
                    <ul class="nav nav-tabs my-2">
                        <li class="nav-item">
                            <!------ 
                            - 送出 
                            --------> 
                            <a class="nav-link active" data-bs-toggle="tab" href="#search"><i class="bi bi-card-list"></i> 申請單</a>
                        </li>
                        <li class="nav-item">
                            <!------ 
                            - 統計 
                            --------> 
                            <!--
                            <a class="nav-link" data-bs-toggle="tab" href="#home"><i class="bi bi-chat-left-text"></i> 統計</a>
                            -->
                        </li>
                        
                    </ul>
                    
                    <!------------
                    - 
                    - Tab panes 
                    -
                    -------------->
                    <div class="tab-content">
                        <!------ 
                        - 送出 
                        -------->
                        <div class="tab-pane container active">
                          <div class="card" id="e_b_form">
                              <div class="card-header">
                                <i class="bi bi-card-list"></i> 申請表格
                              </div>
                              <div class="card-body" id="alter_e_b_form">
                      
                                  <!-- 申請日期 -->
                                  <div class="input-group my-1">
                                      <span class="input-group-text text-success">申請日期</span>
                                      <input type="text" class="form-control" id="e_a_date" v-model="e_a_date" ref="e_a_date">
                                  </div>
                      
                                  <!-- 播放開始 -->
                                  <div id="load_erp_realtime_query_all_num3_1">
                                      <div class="input-group my-1">
                                          <span class="input-group-text text-success">播放開始</span>
                                          <input type="text" class="form-control" id="e_s_date" v-model="e_s_date" ref="e_s_date">
                                      </div>
                                  </div>

                                  <!-- 播放結束 -->
                                  <div id="load_erp_realtime_query_all_num3_1">
                                    <div class="input-group my-1">
                                        <span class="input-group-text text-success">播放結束</span>
                                        <input type="text" class="form-control" id="e_e_date" v-model="e_e_date" ref="e_e_date">
                                    </div>
                                </div>

                                  <!-- 貴賓公司 -->
                                  <div id="load_erp_realtime_query_all_num3_1">
                                    <div class="input-group my-1">
                                        <span class="input-group-text text-success">貴賓公司</span>
                                        <input class="form-control" v-model="e_c_name" placeholder="">
                                        <select class="form-control" v-model="q_c_name" ref="q_c_name" v-on:change="select_q_c_name">
                                          <option disabled>請選擇</option>
                                          {% for val in f_ss2_query_res3 %}
                                          <option>{{ val[0] }}</option>
                                          {% endfor %}
                                        </select>
                                    </div>
                                  </div>
                                  
                                  <!-- 貴賓職稱 -->
                                  <div id="load_erp_realtime_query_all_num3_1">
                                    <div class="input-group my-1">
                                        <span class="input-group-text text-success">貴賓職稱</span>
                                        <input class="form-control" v-model="e_title" placeholder="">
                                        <select class="form-control" v-model="q_p_name" ref="q_p_name" v-on:change="select_q_p_name">
                                          <option disabled>請選擇</option>
                                          {% for val in f_ss2_query_res2 %}
                                          <option>{{ val[0] }}</option>
                                          {% endfor %}
                                        </select>
                                    </div>
                                  </div>

                                  <!-- 貴賓姓名 -->
                                  <div id="load_erp_realtime_query_all_num3_1">
                                    <div class="input-group my-1">
                                        <span class="input-group-text text-success">貴賓姓名</span>
                                        <input class="form-control" v-model="e_name" placeholder="">
                                        <select class="form-control" v-model="q_p_name" ref="q_p_name" v-on:change="select_q_p_name">
                                          <option disabled>請選擇</option>
                                          {% for val in f_ss2_query_res2 %}
                                          <option>{{ val[0] }}</option>
                                          {% endfor %}
                                        </select>
                                    </div>
                                  </div>

                                  <!-- 其它說明 -->
                                  <div id="load_erp_realtime_query_all_num3_1">
                                    <div class="input-group my-1">
                                        <span class="input-group-text text-success">其它說明</span>
                                        <input class="form-control" v-model="e_other" placeholder="">
                                    </div>
                                  </div>

                                  <!-- 完成時間 -->
                                  <div id="load_erp_realtime_query_all_num3_1">
                                    <div class="input-group my-1">
                                        <span class="input-group-text text-success">完成時間</span>
                                        <input type="text" class="form-control" id="f_a_date" v-model="f_a_date" ref="f_a_date">
                                    </div>
                                  </div>
                      
                                  <!-- submit -->
                                  <div class="btn-group text-center">
                                    <button type="button" class="btn btn-primary my-1" id="e_b_submit" name="e_b_submit" @click="e_b_submit">
                                      <i class="bi bi-send"></i> 送出
                                    </button>
                                  </div>

                                  <!-- l_status -->
                                  <div class="text-center align-middle"><input type="text" v-model="l_status" class="form-control l_status" readonly/></div>

                              </div>
                          </div>
                      </div>
                        
                        <!------ 
                        - 統計 
                        -------->
                        <div class="tab-pane container" id="home">
                          <!-- 部門 -->
                          <!--
                          <ul class="list-group my-2">
                            <li class="list-group-item list-group-item-action active">{{ dep_id }} (已結案)</li>
                            {% for val in bpm_statistics_list %}
                            <li class="list-group-item list-group-item-action" id="{{ dep_id }}/{{ val[0] }}" onclick="bpm_expenditure_detail(id)"><i class="bi bi-arrow-right-short"></i> {{ val[0] }} ({{ val[1] }})</li>
                            {% endfor %}
                          </ul>
                          -->
                        </div>

                      </div>    
                    </div>
                </div>
                
            </div>

            <!---------------------------- 
            -
            - 電子看板
            -
            ------------------------------>    
            <div class="col-md-9 my-2">
                <div class="card">
                    <div class="card-header"><i class="bi bi-chat-left-text"></i> {{ operation_record_title }}</div>
                    
                    <div class="card-body" id="query_content">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs my-2">
                            <!-- 
                            <li class="nav-item">
                              <a class="nav-link active" data-bs-toggle="tab" href="#bpm_expenditure_form_list_account"><i class="bi bi-card-list"></i> {{ user }}</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" data-bs-toggle="tab" href="#bpm_expenditure_form_list_account_done_chart"><i class="bi bi-bar-chart-line"></i> {{ user }} 已結案統計圖</a>
                            </li>
                            -->

                            <li class="nav-item">
                              <a class="nav-link active" data-bs-toggle="tab" href="#f_erp_realtime_query"><i class="bi bi-card-list"></i> 申請單清單</a>
                            </li>
                            
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">

                            <!-----------------
                            - 
                            - 銷售實績
                            -
                            ------------------>
                            <div class="tab-pane container active" id="e_board_list" v-if="e_board_list" v-html="e_board_list">
                               
                              <div class="table-responsive" >
                                <table class="table table-hover table-striped table-bordered" id="e_f_form">
                                    <thead>
                                      <tr class="text-center align-middle">
                                        <th>刪除</th>
                                        <th>申請日期</th>
                                        <th>播放時間</th>
                                        <th>貴賓公司</th>
                                        <th>貴賓職稱</th>
                                        <th>貴賓姓名</th>
                                        <th>其它說明</th>
                                        <th>完成時間</th>
                                        <th>回覆姓名</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                    {% for val in e_b_list %}
                                      <tr class="text-center align-middle">
                                        <td>
                                          <div class="btn-group">
                                            <button type="button" class="btn btn-danger" id="e_f_submit_del" name="e_f_submit_del" @click="e_f_submit_del">
                                              <i class="bi bi-x-circle"></i> 刪除
                                            </button>
                                          </div>
                                        </td>
                                        <td>{{ val[0] }}</td>
                                        <td>{{ val[1] }} ~ {{ val[2] }}</td>
                                        <td>{{ val[3] }}</td>
                                        <td>{{ val[4] }}</td>
                                        <td>{{ val[5] }}</td>
                                        <td>{{ val[6] }}</td>
                                        <td>{{ val[7] }}</td>
                                        <td>
                                          <button type="button" class="btn btn-primary" name="e_f_submit_res" @click="e_f_submit_res('{{ val[0] }}','{{ val[1] }}','{{ val[2] }}')">
                                            <i class="bi bi-send"></i> 回覆
                                          </button>
                                        </td>
                                      </tr>
                                      {% endfor %}
                                    </tbody>
                                </table> 
                               </div>
                              
                            </div>

                        </div>
                    </div>
             </div>
        </div>

    </div>

    <!-- go top -->
    <div id="go_top" class="goto_top"><i class="bi bi-arrow-up"></i></div>
{% endblock content %}

{% block script %}    
    
    <!-- Vue.js 3 CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.3.4/dist/vue.global.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static' , filename='js/index_vue_js_3.js') }}"></script>

    <!-- date picker & rich editor -->
    <script>
      //$("#q_s_date").flatpickr();    
      //$("#q_e_date").flatpickr();    
      //CKEDITOR.replace('content');
    </script>    
{% endblock script %}


    
