{% extends "bootstrap/base.html" %}

{% block content %}
    <!---------------------------------------------------------------------------------------------------- 
    -
    - main content
    -
    ----------------------------------------------------------------------------------------------------->
    <div class="container-fluid text-primary m-auto">
        
        <div class="row my-4">
            <div class="col-md-12">
                
            </div>
        </div>
        
        <div class="row my-5">
            <!---------------------------------------------------------------------------------------------------- 
             -
             - main content
             -   
             ----------------------------------------------------------------------------------------------------->
            
            <!---------------------------- 
            - ERP / SS2 品號對應管理
            ------------------------------>    
            <div class="col-md-9 my-2">
                <div class="card" id="p_s_detail_list">
                    <div class="card-header"><i class="bi bi-chat-left-text"></i> {{ operation_record_title }}</div>
                    
                    <div class="card-body" id="query_content">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs my-2">
                            <!-- 
                            <li class="nav-item">
                              <a class="nav-link active" data-bs-toggle="tab" href="#bpm_expenditure_form_list_account"><i class="bi bi-card-list"></i> {{ user }}</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" data-bs-toggle="tab" href="#bpm_expenditure_form_list_account_done_chart"><i class="bi bi-bar-chart-line"></i> {{ user }} 已結案統計圖</a>
                            </li>
                            -->

                            <li class="nav-item">
                              <a class="nav-link active" data-bs-toggle="tab" href="#f_erp_realtime_query"><i class="bi bi-card-list"></i> ERP / SS2 品號對應管理</a>
                            </li>
                            
                            
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">

                            <!-----------------------
                            - ERP / SS2 品號對應管理
                            ------------------------->
                            <div class="tab-pane container active" id="f_erp_realtime_query" v-if="f_erp_realtime_query3" v-html="f_erp_realtime_query3">
                              
                              <div class="row">
                                <div class="col-md-3">
                                  <!------ 
                                  - 搜尋 
                                  -------->
                                  <div class="tab-pane container active">
                                      <div class="card" id="search_erp_subform">
                                        <div class="card-header" onclick="select_q_c_name()">
                                            <i class="bi bi-search"></i> ERP / SS2 品號對應管理
                                        </div>
                                        <div class="card-body">
                                
                                          <!-- 建立人 -->
                                          <div class="input-group my-1">
                                            <span class="input-group-text text-success">建立人</span>
                                            <input type="text" class="form-control" id="q_s_date" v-model="q_s_date" ref="q_s_date">
                                          </div>
                                          
                                          <!-- 申報年 -->
                                          <div class="input-group my-1">
                                            <span class="input-group-text text-success">申報年</span>
                                            <input type="text" class="form-control" id="q_s_date" v-model="q_s_date" ref="q_s_date">
                                          </div>

                                          <!-- 申報月 -->
                                          <div class="input-group my-1">
                                            <span class="input-group-text text-success">申報月</span>
                                            <input type="text" class="form-control" id="q_e_date" v-model="q_e_date" ref="q_e_date">
                                          </div>
                                            
                                          <!-- submit -->
                                          <div class="btn-group justify-content-center">
                                              <button type="button" class="btn btn-primary my-1" id="q_s_submit" name="q_b_w_f_search_submit" @click="q_s_submit">
                                                  <i class="bi bi-send"></i> 搜尋
                                              </button>
                                              <button type="button" class="btn btn-success my-1" id="e_f_excel" name="e_f_excel" @click="e_f_excel" :disabled="isLoading">
                                                <i class="bi bi-clipboard-data"></i> 匯出 Excel
                                              </button>
                                          </div>

                                          <!-- l_status -->
                                          <div class="text-center align-middle"><input type="text" v-model="l_status" class="form-control l_status" readonly/></div>

                                        </div>
                                      </div>  
                                    </div>
                                </div>
                                <div class="col-md-9">
                                  <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                      <thead class="text-center align-middle">
                                        <th>建立者</th>
                                        <th>進銷項</th>
                                        <th>格式代號</th>
                                        <th>稅籍編號</th>
                                        <th>流水號</th>
                                        <th>開立日期</th>
                                        <th>買方統編</th>
                                        <th>賣方統編</th>
                                        <th>發票號碼</th>
                                        <th>扣抵別</th>
                                        <th>課稅別</th>
                                        <th>銷售金額</th>
                                        <th>營業稅額</th>
                                        <th>備註</th>
                                      </thead>
                                      <tbody>
                                        
                                        

                                      </tbody>
                                    </table> 
                                   </div>
                                </div>

                              </div>

                            </div>
                            
                            

                        </div>
                    </div>
             </div>
        </div>

    </div>

    <!-- go top -->
    <div id="go_top" class="goto_top"><i class="bi bi-arrow-up"></i></div>
{% endblock content %}

{% block script %}    
    
    <!-- Vue.js 3 CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.3.4/dist/vue.global.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static' , filename='js/index_vue_js_3.js') }}"></script>

    <!-- date picker & rich editor -->
    <script>
      $("#q_s_date").flatpickr();    
      $("#q_e_date").flatpickr();    
      //CKEDITOR.replace('content');
    </script>    
{% endblock script %}


    
